#about,
#register,
#frontpage {
    background-image: url("/public/TableGame.jpg");
    height: 100vh;
}

#error {
    height: 100vh;
    background-image: url("/public/Error.jpg");
}

.games {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 10px;
    height: 60vh;
    width: 80vh;

}

.background{
    background-color: rgba(15, 221, 94, 0.18);
}

.main {
    grid-row: 2;
    grid-column: 3 / 9;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.article {
    grid-row: 2;
    grid-column: 1 / 3;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.header {
    grid-row: 1;
    grid-column: 1 / 12;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    margin: 10px;
}

#guessingMain {
    display: grid;
    grid-column: 1 / 3;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 10px;
    height: 100vh;
    width: 80vh;
    margin-left: 15%;
    margin-top: 5%;
    text-align: center;

}

#scores {
    display: grid;
    gap: 15px;
    padding: 10px;
    height: 100vh;
    align-items: baseline;
    border: 2px solid black;
}

#guessHeader {
    text-align: center;
    background-color: aquamarine;
}

#findapair {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    transition: all 1s ease-in-out;

}

.infobox {
    font-size: small;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 10vh;
    width: 30vh;
    text-align: center;
    color: red;
}

.selected {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.not-selected {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

.found {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.lotteryball{
    height: 128px;
    width: 128px;
    border-radius: 50%;
    background-color: gold;
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}

.notselected-lottery{
    height: 64px;
    width: 64px;
    background-color: rgba(15, 221, 94, 0.18);
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

.selected-lottery{
    height: 64px;
    width: 64px;
    background-color: rgba(223, 219, 15, 0.74);
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}